/* De SongForm */

.select-wrapper input.select-dropdown:focus {
	border-bottom: 1px solid #1976d2 !important;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #1976d2;
	-webkit-box-shadow: 0 1px 0 0 #1976d2;
	box-shadow: 0 1px 0 0 #1976d2;
}

input:not([type]):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime-local"]:not(.browser-default):focus:not([readonly])
	+ label,
input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="search"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #1976d2;
}

.noselect {
	background-color: transparent !important;
	-webkit-touch-callout: none !important; /* iOS Safari */
	-webkit-user-select: none !important; /* Safari */
	-khtml-user-select: none !important; /* Konqueror HTML */
	-moz-user-select: none !important; /* Old versions of Firefox */
	-ms-user-select: none !important; /* Internet Explorer/Edge */
	user-select: none !important; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	-webkit-tap-highlight-color: transparent !important;
}

.noselect:focus {
	outline: none !important;
}

.checkbox-blue[type="checkbox"].filled-in:checked + span:not(.lever):after {
	border: 2px solid #1976d2;
	background-color: #1976d2;
}

[type="checkbox"].filled-in + span:not(.lever):after {
	top: 2px !important;
}

[type="checkbox"] + span:not(.lever):before {
	top: 2px !important;
}

/* .switch {
    margin-bottom: 45px !important;
} */

.switch .lever {
	margin: 0 15px 0 0 !important;
}

.switch label:last-child {
	font-size: 1.1rem;
}

.indications th {
	font-weight: normal;
	font-style: italic;
	padding-bottom: 5px;
}

.moment th {
	padding-bottom: 0 !important;
}

.moment tr {
	border: 0 !important;
}

.switch label input[type="checkbox"]:checked + .lever {
	background-color: #679fd6 !important;
}

.switch label input[type="checkbox"]:checked + .lever:after {
	background-color: #1976d2 !important;
}
